{block #content}
    <div class="page-header"><h1>{_$h1}</h1></div>
    <p>
        <a n:href="Issue:edit" class="btn btn-primary"><i class="fa fa-plus"></i> {_"Create new issue"}</a>
    </p>
    {control gridIssue}
{/block}
